# Model Deployment APIs
AWSLambdaAPI
RateADrafteeAPI

# Flask files
flask-server/credentials
flask-server/__pycache__
flask-server/env
flask-server/Projects

# React files
client/node_modules
client/public

# Misc files
./draft_picks.csv