# Model Deployment APIs
AWSLambdaAPI
RateADrafteeAPI

# Flask files
flask-server/credentials
flask-server/__pycache__
flask-server/env
flask-server/Projects

# React files
client/node_modules
client/public
client/package-lock.json
client/package.json
client/yarn.lock

# Misc files
draft_picks.csv